.DashboardPage-header {
  background-color: #fff;
  padding: 0 2.5vw;
}
.DashboardHeader {
  background: #fff;
  position: relative;
  margin-right: calc((-100vw - -82.375em) / 2);
  padding: 2.5rem calc((100vw - 82.375em) / 2) 2.5rem 0;
  outline: 0;
}
.UIContainer {
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  position: relative;
  clear: both;
  z-index: 1;
}
.ProfileHeader {
  position: relative;
}
.ProfileHeader-user {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
}
.UserAvatar {
  overflow: hidden;
  background: transparent no-repeat top;
  background-image: none;
  background-color: rgba(0, 0, 0, 0.04);
  background-size: cover;
  border-radius: 100%;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin: 0;
  padding: 0;
  transform: translateZ(0);
  vertical-align: middle;
}

.ProfileHeader-mainContent {
  margin-left: 2rem;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.ProfileHeader-headline {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.ProfileHeader-username {
  display: inline-block;
  margin-right: 1rem;
}
.UIHeading {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
.UIHeading--two {
  font-weight: 700;
  font-size: 2.375rem;
  line-height: 1.263157894736842;
}
.ProfileHeader-userInfo {
  display: inline-block;
}
.ProfileHeader-userFullName {
  color: #c3c7d5;
}
.ProfileHeader-onlineIndicator {
  margin-left: 1rem;
}
.ProfileHeader-tabs {
  margin-top: 1.25rem;
}
.UIToggle {
  border: 0.125rem solid #d9dde8;
  border-radius: 0.25rem;
  cursor: pointer;
  display: inline-block;
  outline: none;
  overflow: hidden;
  vertical-align: top;
}
.UIToggle-option {
  border-left: 0.125rem solid #d9dde8;
  display: inline-block;
  position: relative;
  margin-top: 0 !important;
}
.UIToggle-optionInput {
  cursor: inherit;
  opacity: 0;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.UIToggle-optionLabel {
  color: #3ccfcf;
  display: inline-block;
  padding: 0.625rem 1rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.285714285714286;
  transition: all 0.12s cubic-bezier(0.47, 0, 0.745, 0.715);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 0 !important;
}
