.edit-container {
    .edit-header,
    .edit-header-content {
      height: 6.875rem;
      display: flex;
      position: relative;
    }
    .edit-header {
      align-items: center;
      .edit-header-title {
        font-weight: bold;
        flex-grow: 1;
      }
      .edit-header-button {
        width: 150px;
        background-color: #3ccfcf;
        color: white;
        font-weight: bold;
        text-transform: none;
      }
    }
    .edit-header-content {
      flex-direction: column;
      justify-content: space-around;
    }
    .edit-flashcard {
      margin: 24px 0;
      .edit-flashcard-header,
      .edit-flashcard-content {
        padding: 1.25rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .edit-flashcard-header {
        position: relative;
        align-items: center;
      }
      .edit-flashcard-content {
        .edit-flashcard-input {
          width: 47.5%;
        }
      }
    }
    .edit-add-flashcard {
      margin: 24px 0 0 0;
      height: 6.875rem;
      display: flex;
      align-items: center;
      justify-content: center;
      .edit-add-flashcard-button {
        text-transform: none !important;
        border-bottom: 0.3125rem solid #3ccfcf;
      }
    }
  }
  