.search-container {
  .search-header {
    height: 6.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .search-header-title {
      font-weight: bold;
    }
  }
  .search-textField-container {
    height: 6.875rem;
    display: flex;
    position: relative;
    align-items: center;
    .search-textField {
      flex-grow: 1;
      background-color: white;
    }
    .search-button {
      width: 10vw;
      margin-left: 1vw;
      height: 56px;
      background-color: #3f51b5;
      color: white;
      font-weight: bold;
      text-transform: none;
    }
  }
  .search-content {
    margin-top: 48px;
    .search-content-item {
      padding: 20px 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .search-content-title {
        font-weight: bold;
        color: #1a1d28;
        margin-bottom: 24px;
      }
    }
  }
}
