.card {
  margin: 3px;
  height: 15vh;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
}
.select {
  box-shadow: 1px 1px 1px 1px #888888;
}
