.header-container {
  .header-app-bar {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    height: 80px;
  }
  .header-title {
    width: 150px;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  .header-user-icon {
    padding: 0;
  }
  .MuiButton-label {
    margin: 0 8px;
    color: white;
    font-weight: bold;
    text-transform: none;
    svg {
      margin-right: 8px;
    }
  }
  .MuiIconButton-label > svg {
    width: 32px;
    height: 32px;
  }
}
